<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import { ref } from 'vue';

const num1 = ref(0)
function num1Click(num: number) {
  console.log('Num1 Click: ' + num)
  num1.value = num
}
</script>

<template>
  <div style="text-align: center;">
    <img style="width: 300px; border-radius: 50%;" src="../assets/me.jpg" alt=""/>
    <h1>Hello world</h1>
    {{ num1 }}<NumberButton :num="1" @numClick="num1Click"/>
    <NumberButton :num="2"/>
    <NumberButton :num="3" :inc="5"/>
    </div>
</template>
