<script setup lang="ts">
import DummyComponent from '@/components/DummyComponent.vue';
import { provide, ref } from 'vue';

const num1 = ref(0)
provide('num1',num1)
provide('num1Click', num1Click)
function num1Click() {
  num1.value++
}
</script>

<template>
  <div style="text-align: center;">
    <img style="width: 300px; border-radius: 50%;" src="../assets/me.jpg" alt=""/>
    <h1>Hello world</h1>
    {{ num1 }}
    <DummyComponent></DummyComponent>
    </div>
</template>
